#profile_img {
    width: 65%;
    max-width: 450px;
    height: auto;
}

.img-fluid {
    display: block;
    margin: 0 auto;
}

.center-text {
    margin: auto;
    width: 85%;
    max-width: 750px;
    padding: 10px;
}


.text {
    margin: auto;
    width: 90%;
    max-width: 900px;
    padding: 10px;
}

.left {
    text-align: left;
}

.wrapper {
    text-align: left;
}
.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
    /*border: 1px solid black;*/
}


#uchicagologo {
   max-height:75%; 
   max-width:75%;
   object-fit: contain;
}

.footertext {
    color: #ffff;
}

.vega-actions > a {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
}

.figure {
    margin: auto;
    width: 90%;
    max-width: 450px;
    padding: 10px;
}

#profileblurb {
    margin: auto;
    width: 90%;
    max-width: 700px;
    padding: 10px;
    text-align: left;
}

#profileblurb ul {
    list-style: disc;
    padding-left: 2rem;
    text-align: left;
}

#profileblurb ul ul {
    list-style: circle;
    padding-left: 1.5rem;
}

h2 {
    padding-top: 20px;
}

button.bg-white:hover,
button.bg-white:focus {
  background-color: #ba3232 !important;
}
